body {
  background-color: blanchedalmond;
}

a {
  color: rgb(236, 162, 2);
}

.App {
  max-width: 950px;
  margin: 0 auto;
}

.fa-solid {
  font-size: 30px;
}

.footer {
  margin: 30px 0;
  font-family: 'Lato', sans-serif;
}